@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--field-container: 900px;
}

.viewport {
	/* width: var(--field-container); */
	width: 100%;
	margin: 0 auto;
}

.container {
	/* width: var(--field-container); */
	margin: auto;
}

.container.vertical {
	display: flex;
	justify-content: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row.moveRowVertical {
	flex-direction: column;
}

.cell {
	flex-shrink: 0;
}

.mixedContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
	position: relative;

	> * {
		position: absolute;
	}
}

.flicker {
	animation: flicker 1s infinite;
}

@keyframes flicker {
	0% {
		opacity: 0.25;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.25;
	}
}

.moveRowVertical {
	--animationSpeed: 10s; /* Common speed */
	position: relative;
	animation: moveVertical var(--animationSpeed) infinite linear;
	> * {
		top: 50%; /* Center vertically */
		transform: translateY(-50%); /* Center vertically */
	}
}

.moveRowHorizontal {
	--animationSpeed: 10s; /* Common speed */
	position: relative;
	animation: moveHorizontal var(--animationSpeed) infinite linear;
	> * {
		top: 50%; /* Center vertically */
		transform: translateY(-50%); /* Center vertically */
	}
}

/* Direction for Left Movement */
.moveRowLeft {
	--directionX: -1; /* Move left */
}

/* Direction for Right Movement */
.moveRowRight {
	--directionX: 1; /* Move right */
}

.moveRowUp {
	--directionY: -1;
}

.moveRowDown {
	--directionY: 1;
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(calc(var(--directionX) * -100vw));
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(var(--directionX) * 100vw));
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(calc(var(--directionY) * -100vh));
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(var(--directionY) * 100vh));
	}
}
