@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--field-container: 390px;
}

.container {
	width: var(--field-container);
}

.gridContainer {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	justify-content: center;
}

.mixedContainer {
	position: relative;

	> * {
		position: absolute;
	}
}

.moveContainer {
	position: relative;
	width: 100vw;

	> * {
		/* Only needed wehn also mixed */
		/* position: absolute; */
		top: 50%; /* Start vertically centered in the viewport */
		animation: move 10s infinite linear;
		transform: translateY(-50%); /* Center vertically */
	}
}

@keyframes move {
	0% {
		transform: translateX(calc(var(--direction, 1) * -100vw));
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(var(--direction, 1) * 100vw));
	}
}
